{% extends 'base.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block stylesheets %}
<style>
    #vehicule div {
        margin: 0.2rem 1rem 0.2rem 1rem;
        height: 2rem;
    }

    #vehicule div label {
        float: left;
        width: 7rem;
    }

    #vehicule div input {
        float: right;
        width: 15rem;
    }
</style>
{% endblock %}

{% block body %}


<table class="table table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th colspan="6">
                <h1 style="text-align: center;">Liste des véhicules</h1>
            </th>
        </tr>
        <tr>
            <th>Maque / Modele</th>
            <th>Plaque</th>
            <th>Kilometrage</th>
            <th>Etat</th>
            <th>Location</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for vehicule in vehicules %}
        <tr>
            <td>{{ vehicule.modele }}</td>

            <td>{{ vehicule.plaque }}</td>
            <td>{{ vehicule.kilometrage }}</td>
            <td>{{ vehicule.etat }}</td>

            <td>
                <ul style="list-style: none">
                    {% for location in vehicule.locations %}
                    <li><a href="{{ path('location_show', {'id': location.id}) }}">{{location}}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <a class="btn btn-secondary" href="{{ path('vehicule_show', {'id': vehicule.id}) }}">Voir</a>
                <a class="btn btn-primary" href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">Modifer</a>
                {{include("vehicule/_delete_form.html.twig")}}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Pas de véhicule trouvé</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter un
    véhicule</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouveau véhicule</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}