{% extends 'base.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block body %}
<h1 style="text-align: center;">Liste des véhicules</h1>

    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th>Plaque</th>
                <th>Kilometrage</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.plaque }}</td>
                <td>{{ vehicule.kilometrage }}</td>
                <td>{{ vehicule.etat }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('vehicule_show', {'id': vehicule.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de véhicule trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('vehicule_new') }}">Create new</a>
{% endblock %}
