{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block stylesheets %}
<style>
    #client div {
        margin: 0.2rem 1rem 0.2rem 1rem;
        height: 2rem;
    }

    #client div label {
        float: left;
        width: 7rem;
    }

    #client div input {
        float: right;
        width: 15rem;
    }
</style>
{% endblock %}

{% block body %}

<a class="btn btn-secondary" href="{{ path('client_index') }}" style="margin-bottom: 1rem;">Annuler</a>

<div class="card text-white bg-dark mb-3" style="width: 35rem;">
    <ul class="list-group list-group-flush">
        <h5 class="card-header">Client a modifier</h5>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            
        </div>
        <div class="card-footer">    
            <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
            {{ form_end(form) }}
            {{include('client/_delete_form.html.twig') }}   
        </div>
    </ul>
</div>

{% endblock %}